body {
  font-family: sans-serif;
  background-color: slategray;
}

h1 {
  text-align: center;
  font-weight: 200%;
}

#app {
  background-color: lightsalmon;
  padding: 1em 3em;
  display: inline-block;
  box-align: center;
  align-content: center;
  border: 1px 1px 1px 1px;
}
